/** The font sizes defined by the avalanche theme are a bit big for my taste.
  Toning them down here */

body {
    font-size: 24px;
}

pre {
    font-size: 18px;
}

.slide header:only-child h1 {
    font-size: 54px;
}

aside.source, aside.page_number {
    font-size: 14px;
}

.smaller section {
  font-size: 20px;
}

.smaller div h1 {
  font-size: 48px;
}

.smaller section pre {
  font-size: 16px;
}

.larger section {
  font-size: 28px;
}

.larger div h1 {
  font-size: 48px;
}

.larger section pre {
  font-size: 20px;
}

div.titleslide h1 {font-size: 54px;}